{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Income Category Form &nbsp;&nbsp; 
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Income Category Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Create Income Category &nbsp;
                 <a href="{% url 'expenses:list_income_category' %}">Category Lists</h3> <i class="fa fa-eye" aria-hidden="true"></i></a>


              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST">
              	{% csrf_token %}
                <div class="card-body">
                  <div class="form-group ">
                    
                  {{form.income_category | as_crispy_field}}
                  </div>
                  
                  <div class="form-group">
                     
                     <br>
                    {{form.created_at | as_crispy_field}}
                  </div>
                  <div class="form-group">
                   
                    
                    {{form.is_important | as_crispy_field}}
                  </div>
                  
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

            <!-- general form elements -->
          
            <!-- /.card -->

            <!-- Input addon -->
         

          </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">
            <!-- Form Element sizes -->
            
            <!-- /.card -->

           
            <!-- /.card -->
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  {% endblock %}